<a class="font-color-base mr-2" href="https://github.com/chrsolr" target="_blank">
  <fa-icon [icon]="github" size="lg"></fa-icon>
</a>
<a class="font-color-base mr-2" href="https://codepen.io/chrsolr" target="_blank">
  <fa-icon [icon]="codepen" size="lg"></fa-icon>
</a>
<a class="font-color-base mr-2" href="https://instagram.com/chr.solr" target="_blank">
  <fa-icon [icon]="instagram" size="lg"></fa-icon>
</a>
<a class="font-color-base" href="https://twitch.tv/chrsolr" target="_blank">
  <fa-icon [icon]="twitch" size="lg"></fa-icon>
</a>
