@import './variables';

a.bracket-animation {
  position: relative;
  text-decoration: none;
  color: $font-color-text-base;
  display: inline-block;
  transition: border-bottom 0.3s ease;

  &:before,
  &:after {
    position: absolute;
    opacity: 0;
    color: $font-color-text-red;
    transition: all 0.3s ease;
  }

  &:before {
    content: '[';
    left: -15px;
  }

  &:after {
    content: ']';
    right: 15px;
  }

  &:hover {
    color: $font-color-text-teal !important;

    &:before {
      opacity: 1;
      transform: translateX(-10px);
    }

    &:after {
      opacity: 1;
      transform: translateX(10px);
    }
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

@media screen and (max-width: 767px) {
  a.bracket-animation {
      &:before, &:after {
          content: '';
      }
  }
}
