@import './variables';

.page-navbar-top-spacing {
  margin-top: $page-navbar-top-spacing-md;
}

.pointer {
  &:hover {
    cursor: pointer;
  }
}

.bracket-animation {
  position: relative;
  text-decoration: none;
  color: $font-color-text-base;
  display: inline-block;
  transition: border-bottom 0.3s ease;

  &:before,
  &:after {
    position: absolute;
    opacity: 0;
    color: $font-color-text-teal;
    transition: all 0.3s ease;
  }

  &:before {
    content: '[';
    left: -0.5rem;
  }

  &:after {
    content: ']';
    right: -0.5rem;
  }

  &:hover {
    color: $font-color-text-red !important;

    &:before {
      opacity: 1;
      transform: translateX(0.5rem);
    }

    &:after {
      opacity: 1;
      transform: translateX(-0.5rem);
    }
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

@media screen and (max-width: 767px) {
  .bracket-animation {
    &:before,
    &:after {
      content: '';
    }
  }

  .page-navbar-top-spacing {
    margin-top: $page-navbar-top-spacing-sm;
  }
}
