@import url('https://fonts.googleapis.com/css?family=Sulphur+Point:300,400,700|Titillium+Web:300,300i,400,400i,700,700i&display=swap');

$Sulphur-Point: 'Sulphur Point';
$Titillium-Web: 'Titillium Web';

$color-navbar: #fff;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$font-color-text-base: #777;
$font-color-text-teal: #1f7a7a;
$font-color-text-red: #cc3434;
$font-color-text-lime: #2aa32a;

$page-navbar-top-spacing-md: 5.5rem; 
$page-navbar-top-spacing-sm: 4.5rem; 